*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navlogo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    background-color: #0f1111;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box 2 */
.addfirst{
    color: #cccc;
    font-size: 0.90rem;
    margin:0px;
}
.addsec{
    font-size: 1rem;
    margin: 5px;
}
.addicon{
    display: flex;
    align-items: center;
}

/* box 3 */
.navsearch{
    justify-content: space-evenly;
    background-color: #febd68;
    display:flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.navsearch:hover{
    border: 1.5px solid orange;
}
.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchinput{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}

/* Box 4 & 5 */
.navsignin{
    text-align: center;
    span{
        font-size: 0.8rem;
    }
    .navsec{
        font-size: 0.9rem;
        font-weight:700;
    }
}

/* box 6 */
.navcart i{
    font-size: 30px;
}
.navcart{
    font-size: 0.9rem;
    font-weight: 700;
}

/********* Panel *********/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.panops p{
    display: inline;
    margin: 15px;
}
.panops{
    font-size: 0.9rem;
    width: 70%;
}
.pandeals{
    font-size: 0.95rem;
    font-weight: 700;
}

/********* Hero Section *********/
.heros{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hmsg{
    background-color: white;
    color: black;
    height: 30px;
    font-size: 0.90rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    a{
        color: #007185;
    }
}

/* <!--------- Shopping Section ---------> */
.shops{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box_img{
    height: 300px;
    background-size: cover;
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxContent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxContent p{
    color: #007185;
}

/********* Hero Section *********/
footer{
    margin: 15px;
}
.fpan1{
    background-color: #37475a;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.fpan2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin: 20px;
}
ul a{
    display: block;
    font-size: 0.90rem;
    margin-top:10px;
    color: #dddddd;
}

.fpan3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.fpan4{
    background-color: #222f3d;
    color: white;
    height: 70px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding: 5px;
}